@import '../variables.scss';

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-top: 2px solid $primary-color;

  h2 {
    font-size: 2.2em;
    font-weight: bold;
    color: $primary-color;
  }

  h4 {
    margin: 0.5em;
    font-size: 1.3em;
    font-weight: bold;
  }

  h5 {
    margin: 0.4em;
    font-size: 1.1em;
    font-weight: bold;
  }

  .map {
    margin-top: 1.5em;
    width: 80vw;
    height: 60vw;
    max-width: 800px;
    max-height: 600px;
  }
}
