@import "../variables.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2.2em;
    font-weight: bold;
    color: $primary-color;
  }

  p {
    margin-top: 20px;
    text-align: center;
  }
}