@import "../variables.scss";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-top: 2px solid $primary-color;

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.2em;
    font-weight: bold;
    color: $primary-color;
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.25);
    height: 50px;
    padding: 10px 15px;
    border-radius: 7px;
    text-decoration: none;
    color: white;

    .icon {
      width: 35px;
      height: 35px;
      padding-right: 10px;
    }
  }

  .whatsapp {
    background: linear-gradient(to bottom, hsl(142, 70, 49), hsl(142, 70, 39));
  }

  .media {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 320px;
  }

  .facebook {
    background: linear-gradient(to bottom, hsl(221, 44, 51), hsl(221, 44, 33));
  }

  .instagram {
    background: linear-gradient(-25deg, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737);
  }
}