@import "../variables.scss";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-top: 2px solid $primary-color;

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.2em;
    font-weight: bold;
    color: $primary-color;
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 7px;
    text-decoration: none;
    color: white;

    .icon {
      width: 35px;
      height: 35px;
      padding-right: 10px;
    }
  }

  .whatsapp {
    background-color: $accent-color-1;
  }

  .media {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 320px;
  }

  .facebook {
    background-color: $primary-color;
  }

  .instagram {
    background-color: grey;
    color: white;
  }
}